/*--------------------------------------------------------------
#	blog page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#18.1	blog-section
--------------------------------------------------------------*/
.blog-page .blog-section {
	@include media-query(991px) {
		padding-bottom: 100px;
	}

	@include media-query(767px) {
		padding-bottom: 80px;
	}
}

.blog-page .blog-section-grids {

	> .col {
		margin-bottom: 80px;

		@include media-query(767px) {
			margin-bottom: 50px;
		}
	}
}

.blog-page .page-pagination-wrapper {
	padding-top: 20px;

	@include media-query(991px) {
		padding-top: 0;
	}
}