/*--------------------------------------------------------------
#	team page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#12.1	page title
--------------------------------------------------------------*/
.team-page .page-title {
	background-image: url(../images/page-title/img-4.jpg);
}



/*--------------------------------------------------------------
#12.2	team-content
--------------------------------------------------------------*/
.team-page .team-content {
	.team-grids-wrapper {
		overflow: hidden;
	}

	.team-grids .grid {
		overflow: hidden;
	}

	.team-grids > .col {
		margin-bottom: 30px;
		@include media-query(415px) {
			width: 100%;
		}
	}

	.team-grids img {
		max-width: 100%;
	}

	.page-pagination-row {
		margin-top: 50px;

		@include media-query(991px) {
			margin: 20px 0 100px;
		}

		@include media-query(767px) {
			margin: 20px 0 80px;
		}
	}
}