/*--------------------------------------------------------------
#	blog width sidebar page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#19.1	blog-with-sidebar-section
--------------------------------------------------------------*/
.blog-with-sidebar-section .blog-section-grids  {
	> .col  {
		margin-bottom: 70px;

		@include media-query(767px) {
			margin-bottom: 50px;
		}

		@include media-query(600px) {
			width: 100%;
		}
	}
}

.blog-with-sidebar-section .page-pagination-wrapper {
	margin-top: 30px;

	@include media-query(991px) {
		margin: 0 0 100px;
	}

	@include media-query(767px) {
		margin: 0 0 80px;
	}
}