/*--------------------------------------------------------------
#	careers vacancy page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#11.1	page title
--------------------------------------------------------------*/
.careers-vacancy-page .page-title {
	background-image: url(../images/page-title/img-3.jpg);
}


/*--------------------------------------------------------------
#11.2	careers-vacancy-content
--------------------------------------------------------------*/
.careers-vacancy-content .vacancy-details {
	> h2 {
		font-size: calc-rem-value(40);
		font-weight: normal;
		margin: 0 0 0.37em;

		@include media-query(991px) {
			font-size: calc-rem-value(34);
		}

		@include media-query(767px) {
			font-size: calc-rem-value(30);
		}
	}

	.job-tag {
		overflow: hidden;
		margin-bottom: 35px;

		li {
			float: left;
			color: $text-color;
			padding-right: 12px;
			margin-right: 12px;
			position: relative;
		}

		li:after {
			content: "";
			background-color: $theme-secondary-color;
			width: 5px;
			height: 5px;
			position: absolute;
			right: -3px;
			top: 8px;
			@include rounded-border();
		}

		li:last-child {
			margin: 0;
			padding: 0;

			&:after {
				display: none;
			}
		}
	}

	.btns {

		> div {
			background: $theme-primary-color;
			@include linear-gradient-bg(left, $theme-primary-color, $theme-primary-color2);
			width: 165px;
			height: 45px;
			line-height: 45px;
			display: inline-block;
			margin-right: 5px;
			position: relative;

			@include media-query(991px) {
				width: 145px;
				height: 40px;
				line-height: 40px;
			}

			@include media-query(767px) {
				width: 120px;
				height: 38px;
				line-height: 38px;
			}
		}

		.btn {
			background: $white;
			width: 161px;
			height: 41px;
			line-height: 41px;
			font-size: calc_rem_value(17);
			color: $theme-secondary-color;
			padding: 0;
			position: absolute;
			left: 2px;
			top: 2px;
			@include rounded-border(0);

			@include media-query(991px) {
				width: 143px;
				height: 38px;
				line-height: 38px;
				font-size: calc_rem_value(15);
				left: 1px;
				top: 1px;
			}

			@include media-query(767px) {
				width: 118px;
				height: 36px;
				line-height: 36px;
				font-size: calc_rem_value(14);
				left: 1px;
				top: 1px;
			}
		}

		.btn:hover {
			background: transparent;
			color: $white;
		}

		i {
			color: $theme-secondary-color;
			position: absolute;
			left: 33px;
			top: 50%;
			@include translatingY();
			z-index: 10;

			@include media-query(991px) {
				left: 25px;
			}
		}
	}


	/*** service single tab ***/
	.job-tab {
		margin-top: 80px;

		@include media-query(991px) {
			margin-top: 60px;
		}

		@include media-query(767px) {
			margin-top: 40px;
		}

		.nav-wrapper {
			text-align: center;
			border-bottom: 1px solid lighten($black, 90%);
			padding-bottom: 5px;
		}
	}

	.job-tab .nav {
		overflow: hidden;
		display: inline-block;

		li {
			float: left;
		}

		a {
			font-size: calc_rem_value(18);
			font-weight: bold;
			color: $theme-secondary-color;
			padding: 10px 45px;

			@include media-query(767px) {
				font-size: calc_rem_value(14);
				padding: 10px 17px;
			}
		}

		a:hover {
			background: none;
		}

		.active a {
			background: $theme-primary-color;
			@include linear-gradient-bg(left, $theme-primary-color, $theme-primary-color2);
			color: $white;
		}
	}

	.job-tab .tab-content {
		padding-top: 35px;

		@include media-query(767px) {
			padding-top: 25px;
		}

		.tab-pane ul {
			@include widther(1200px) {
				padding-right: 220px;
			}
		}

		.tab-pane ul li {
			color: $text-color;
			margin-bottom: 30px;
			padding-left: 20px;
			position: relative;

		}

		.tab-pane li i {
			position: absolute;
			left: 0;
			top: 2px;
			color: $theme-secondary-color;
		}

		.tab-pane p {
			margin-bottom: 35px;

			@include media-query(767px) {
				margin-bottom: 15px;
			}
		}

		.tab-pane p:last-child {
			margin-bottom: 0;
		}
	}
}

.careers-vacancy-content .apply-job {
	margin-top: 70px;

	@include media-query(991px) {
		margin: 50px 0 100px;
	}

	@include media-query(767px) {
		margin: 50px 0 80px;
	}

	h2 {
		font-size: calc_rem_value(34);
		font-weight: normal;
		margin: 0 0 1em;

		@include media-query(991px) {
			font-size: calc_rem_value(30);
		}

		@include media-query(767px) {
			font-size: calc_rem_value(25);
		}
	}

	.form {
		@include placeholder-style( lighten($black, 60%));

		.inputfile + label:after {
			content: "\f0ee";
			font-family: "FontAwesome";
			color: $theme-secondary-color;
			font-size: 20px;
			position: absolute;
			right: 35px;
			top: 50%;
			@include translatingY();
		}

		.inputfile {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		.inputfile + label {
		    background-color:  $contact-form-input-bgcolor;
			width: 100%;
			height: 50px;
			line-height: 50px;
			padding-left: 30px;
			font-size: calc_rem_value(16);
			font-weight: normal;
			color: lighten($black, 60%);
			cursor: pointer;

			@include media-query(991px) {
				height: 45px;
				line-height: 45px;
			}

			@include media-query(767px) {
				height: 40px;
				line-height: 40px;
				padding-left: 20px;
				font-size: calc_rem_value(14);
			}
		}

		.inputfile + label i {
			display: inline-block;
			padding-right: 8px;
		}

		.inputfile + label * {
			pointer-events: none;
		}
	}

	.form > div {
		margin-bottom: 30px;

		@include media-query(767px) {
			margin-bottom: 15px;
		}
	}

	.form input,
	.form textarea {
		background-color: $contact-form-input-bgcolor;
		height: 50px;
		font-size: calc_rem_value(16);
		padding-left: 30px;
		border: 0;
		box-shadow: none;

		@include media-query(991px) {
			height: 45px;
		}

		@include media-query(767px) {
			height: 40px;
			font-size: calc_rem_value(14);
			padding-left: 20px;
		}
	}

	.form textarea {
		height: 190px;
		padding-top: 25px;

		@include media-query(991px) {
			height: 150px;
		}
	}

	.form .submit-btn {
		margin-bottom: 0;

		.btn {
			background: $theme-primary-color;
			@include linear-gradient-bg(left, $theme-primary-color, $theme-primary-color2);
			width: 150px;
			height: 45px;
			line-height: 45px;
			font-size: calc_rem_value(17);
			color: $theme-secondary-color;
			padding: 0;
			border: 0;
			@include rounded-border(0);

			@include media-query(767px) {
				width: 130px;
				height: 40px;
				line-height: 40px;
				font-size: calc_rem_value(15);
			}
		}

		.btn:hover {
			color: $white;
		}
	}
}