/*--------------------------------------------------------------
#	services st2 page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#5.1	service-st2-content	
--------------------------------------------------------------*/
.service-st2 .featured {
	@include media-query(991px) {
		padding-bottom: 100px;
	}

	@include media-query(767px) {
		padding-bottom: 80px;
	}
}

.service-st2-content {
	@include media-query(991px) {
		margin-bottom: 100px;
	}

	@include media-query(767px) {
		margin-bottom: 80px;
	}

	.section-title {
		text-align: left;
		margin-bottom: 60px;

		@include media-query(767px) {
			margin-bottom: 40px;
		}

		h2 {
			margin: 0;
			padding: 0;
			line-height: 1.1em;

			@include media-query(1199px) {
				font-size: calc-rem-value(35);
			}

			@include media-query(991px) {
				font-size: calc-rem-value(32);
			}

			@include media-query(767px) {
				font-size: calc-rem-value(24);
			}
		}

		h2:after {
			display: none;
		}
	}


	.grids > .col {
		margin-bottom: 30px;

		@include media-query(650px) {
			width: 100%;
		}
	}

	.load-more {
		text-align: center;
		margin-top: 55px;

		@include media-query(991px) {
			margin-top: 35px;
		}

		@include media-query(767px) {
			margin-top: 20px;
		}

		> div {
			background: $theme-primary-color;
			@include linear-gradient-bg(left, $theme-primary-color, $theme-primary-color2);
			width: 150px;
			height: 45px;
			line-height: 45px;
			margin: 0 auto;
			position: relative;

			@include media-query(991px) {
				width: 130px;
				height: 42px;
				line-height: 42px;
			}


			&:before {
				content: "";
				background: $white;
				width: 146px;
				height: 41px;
				position: absolute;
				left: 2px;
				top: 2px;

				@include media-query(991px) {
					width: 126px;
					height: 38px;
				}
			}
		}

		a {
			width: 150px;
			height: 45px;
			line-height: 45px;
			display: block;
			font-size: calc-rem-value(18);
			color: $theme-secondary-color;
			padding: 0;
			position: relative;
			z-index: 10;
			@include rounded-border(0);

			@include media-query(991px) {
				width: 130px;
				height: 42px;
				line-height: 42px;
				font-size: calc-rem-value(15);
			}

			i {
				font-size: calc-rem-value(16);
				display: inline-block;
				padding-right: 5px;
			}
		}
	}
}