/*--------------------------------------------------------------
#	careers page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#10.1	page title
--------------------------------------------------------------*/
.careers-page .page-title {
	background-image: url(../images/page-title/img-3.jpg);
}



/*--------------------------------------------------------------
#10.2	careers-content
--------------------------------------------------------------*/
.careers-content {

	.section-title {
		text-align: left;
		margin: 0;

		h2:after {
			display: none;
		}

		h2 {
			@include media-query(1199px) {
				font-size: calc-rem-value(35);
			}

			@include media-query(991px) {
				font-size: calc-rem-value(32);
			}

			@include media-query(767px) {
				font-size: calc-rem-value(24);
			}
		}
	}

	.first-row {
		margin-bottom: 40px;

		@include media-query(767px) {
			margin-bottom: 30px;
		}
	}

	.gallery-row {
		margin-bottom: 60px;

		@include media-query(767px) {
			margin-bottom: 50px;
		}
	}

	.careers-gallery {
		overflow: hidden;

		img {
			max-width: 100%;
		}

		.img-holder {
			width: 50%;
			float: left;
		}
	}

	.reason-joinus {
		@include media-query(991px) {
			margin-bottom: 70px;
		}


		h2 {
			line-height: 1.3em;
		}

		.grid-wrapper {
			overflow: hidden;
		}

		.grid {
			width: 50%;
			float: left;
			padding: 0 30px 30px;

			@include media-query(1199px) {
				padding: 0 30px 30px 0;
			}

			@include media-query(500px) {
				width: 100%;
				float: none;
				padding: 0 0 20px;
			}

		}

		@include media-query(500px) {
			.grid-wrapper .grid:last-child {
				padding-bottom: 0;
			}
		}

		.grid .icon {
			font-size: 35px;
			color: $theme-secondary-color;
			display: block;
			margin-bottom: 15px;

			@include media-query(767px) {
				font-size: 28px;
				margin-bottom: 10px;
			}
		}

		.grid p {
			margin: 0;
		}
	}
}


/*--------------------------------------------------------------
#0.0	recent-job
--------------------------------------------------------------*/
.recent-job {
	position: relative;

	&:before {
		content: "";
		background: transparentize($theme-primary-color, 0.1);
		@include linear-gradient-bg(left, transparentize($theme-primary-color, 0.1), transparentize($theme-primary-color2, 0.1));
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.recent-job-slider {
		position: relative;

		.owl-controls {
			margin-top: 60px;

			@include media-query(767px) {
				margin-top: 30px;
			}
		}

		.owl-controls .owl-dots > div span {
			background: $white;
			width: 16px;
			height: 16px;
			margin: 0 10px 0 0;

			@include media-query(767px) {
				width: 12px;
				height: 12px;
			}
		}

		.owl-controls .owl-dots .active span {
			background: $theme-secondary-color;
		}
	}

	/*** job list ***/
	.job-list {
		background-color: $theme-secondary-color;
		@include linear-gradient-bg(left, $white 30%, $theme-secondary-color 30.1%);
		padding: 75px 45px;
		overflow: hidden;

		@include media-query(1199px) {
			@include linear-gradient-bg(left, $white 35%, $theme-secondary-color 35.1%);
		}

		@include media-query(991px) {
			background: $theme-secondary-color;
			padding: 45px;
		}

		@include media-query(767px) {
			padding: 35px 25px;
		}
		
		&:before {
			content: "";
			background-color: $white;
			width: 200px;
			height: 100%;
			position: absolute;
			left: 200px;
			top: 0;
			-webkit-transform: skewX(-20deg);
			transform: skewX(-20deg);

			@include media-query(1199px) {
				display: none;
			}
		}

		.job-title {
			width: 40%;
			height: 100%;
			float: left;
			position: relative;
			z-index: 10;

			@include media-query(1199px) {
				width: 35%;
			}

			@include media-query(991px) {
				width: 100%;
				float: none;
			}
		}

		.job-title h3 {
			font-size: calc-rem-value(32);
			line-height: 1.3em;
			font-weight: normal;
			color: lighten($black, 10%);
			margin: 0 0 0.40em;

			@include media-query(1199px) {
				font-size: calc-rem-value(25);
			}

			@include media-query(767px) {
				font-size: calc-rem-value(20);
			}
		}

		.job-title .job-post {
			display: block;
			font-size: calc-rem-value(17);
			font-weight: bold;
			color: lighten($black, 60%);

			@include media-query(991px) {
				font-size: calc-rem-value(16);
				color: $white; 
			}
		}

		.job-description {
			width: 60%;
			height: 100%;
			float: left;
			position: relative;
			z-index: 10;
			overflow: hidden;

			@include media-query(1199px) {
				width: 65%;
				padding-left: 15px;
			}

			@include media-query(991px) {
				width: 100%;
				float: none;
				padding-left: 0;
				margin-top: 35px;
			}
		}

		.job-description .left-col {
			width: 60%;
			float: left;

			@include media-query(767px) {
				width: 100%;
				float: none;
			}
		}

		.job-description .left-col .details {
			font-size: calc-rem-value(18);
			font-weight: bold;

			@include media-query(991px) {
				font-size: calc-rem-value(15);
			}
		}

		.job-description .right-col {
			width: 40%;
			float: left;
			text-align: center;
			margin-top: -12px;

			@include media-query(767px) {
				width: 100%;
				float: none;
				margin: 15px 0 0;
			}
		}

		.job-description p,
		.job-description a {
			color: $white;
		}

		.job-description .icon,
		.job-description .location {
			display: block;
			color: $white;
		}

		.job-description .icon {
			font-size: 50px;
			color: $white;

			@include media-query(991px) {
				font-size: 35px;
			}
		}

		.job-description .location {
			font-size: calc-rem-value(18);
			margin-bottom: 5px;

			@include media-query(991px) {
				font-size: calc-rem-value(15);
			}
		}

		.job-description .apply-btn {
			background-color: $white;
			display: inline-block;
			color: $theme-secondary-color;
			padding: 10px 30px;
			margin-top: 10px;
			@include rounded-border(30px);

			@include media-query(991px) {
				font-size: calc-rem-value(15);
				padding: 7px 25px;
			}
		}

		.job-description .apply-btn:hover {
			background-color: $theme-primary-color2;
			color: $white;
		}
	}
}


