/*--------------------------------------------------------------
#	partners page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#15.1	page title
--------------------------------------------------------------*/
.partners-page .page-title {
	background-image: url(../images/page-title/img-5.jpg);
}



/*--------------------------------------------------------------
#15.2	partners-content-wrapper
--------------------------------------------------------------*/
.partners-content-wrapper .partners-content {

	@include media-query(991px) {
		margin-bottom: 90px;
	}

	@include media-query(767px) {
		margin-bottom: 70px;
	}

	> .row {
		margin-bottom: 15px;

		@include media-query(1199px) {
			margin-bottom: 50px;
		}

		@include media-query(767px) {
			margin-bottom: 40px;
		}
	}

	> .row:last-child {
		margin-bottom: 0;
	}

	> .row > .col:last-child {
		@include widther(1200px) {
			padding-right: 65px;
		}
	}

	h3 {
		font-size: calc-rem-value(32);
		font-weight: normal;
		margin: 1.2em 0 0.56em;

		@include media-query(1199px) {
			font-size: calc-rem-value(25);
			margin: 1em 0 0.56em;
		}

		@include media-query(991px) {
			font-size: calc-rem-value(22);
		}

		@include media-query(767px) {
			font-size: calc-rem-value(20);
		}
	}
}