{% load static %}
<!-- start footer-->
<footer class="site-footer">
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col col-lg-3 col-sm-6">
                    <div class="widget about-widget">
                        <a href="#" class="footer-logo"><img src="{% static 'images/footer-logo.png' %}" alt class="img img-responsive"></a>
                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremque.</p>
                        <div class="office-time">
                            <span class="icon">
                                <i class="fi flaticon-time"></i>
                            </span>
                            <h4>Opening hours</h4>
                            <span class="time">Mon - Fri: 9 am - 7 pm</span>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-3 col-sm-6">
                    <div class="widget news-widget">
                        <h3>Recent news</h3>
                        <ul>
                            <li>
                                <div class="entry-media">
                                    <img src="{% static 'images/blog/thumb/img-1.jpg' %}" alt>
                                </div>
                                <div class="entry-details">
                                    <h5><a href="#">UK inflation rate falls in October</a></h5>
                                    <span class="date"><i class="fa fa-clock-o"></i> May 29, 2017</span>
                                </div>
                            </li>
                            <li>
                                <div class="entry-media">
                                    <img src="{% static 'images/blog/thumb/img-2.jpg' %}" alt>
                                </div>
                                <div class="entry-details">
                                    <h5><a href="#">Infinity wins the “Awwards”</a></h5>
                                    <span class="date"><i class="fa fa-clock-o"></i> May 29, 2017</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col col-lg-2 col-sm-6">
                    <div class="widget site-map-widget">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Contuct</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col col-lg-4 col-sm-6">
                    <div class="widget newsletter-widget">
                        <h3>Newsletter</h3>
                        <form class="form">
                            <div>
                                <input type="text" class="form-control" placeholder="email address">
                                <button class="btn" type="submit"><i class="fa fa-send"></i></button>
                            </div>

                        </form>
                    </div>

                    <div class="widget social-media-widget">
                        <h3>Social media</h3>
                        <ul class="">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </div> <!-- end upperfooter -->

    <div class="copyright">
        <div class="container">
            <div class="col col-md-6">
                <p>2017 &copy; All rights reserved by <a href="http://themeforest.net/user/themexriver">Themexriver</a></p>
            </div>
            <div class="col col-md-6">
                <ul>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- end sectionname-->