{% autoescape off %}  
<b>Prefix</b>: {{prefix}}, <b>Referral</b>: {{referral}},
<b>First Name</b>: {{first_name}}, <b>Last Name</b>: {{last_name}}, <b>Middle Name</b>: {{middle_name}},
<b>Mother Name</b>: {{mother_name}}, <b>DOB</b>: {{dob}}, <b>Relationship</b>: {{relationship}}, 
<b>Gender</b>: {{gender}}, <b>Occupation</b>: {{occupation}}, <b>SSN</b>: {{ssn}},
<b>Address</b>: {{address}}, <b>State</b>: {{state}}, <b>Nationality</b>: {{nationality}},
<b>Phone</b>: {{phone}}, <b>Fax</b>: {{fax}}, <b>Income</b>: {{income}}, <b>Email</b>: {{email}},
<b>Bank</b>: {{bank}}, <b>Description</b>: {{description}}
{% endautoescape %}